<label for={{controlId}} class="oe-control__label">
  {{label-for name}}
</label>

<p class="oe-control__hint">
  {{option.hint}}
</p>

<p class="oe-control__default-value">
  {{to-string option.default}}
</p>

<p class="oe-control__control">
  {{!--component option.component
    controlId=controlId
    value=option.value
    disabled=option.disabled
    options=option.availableValues--}}
</p>
