@import 'test-editor.css';
@import 'configurator-section.css';
@import 'oe-control.css';
@import 'oe-control__toggle.css';

html, body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #495057;
  line-height: 1.5;
}
