<div class="ember-medium-editor__container"></div>

{{yield
  (hash
    registerExtension=(action _registerExtension "extensions")
    toolbar=(component "me-toolbar" registerExtension=(action _registerExtension "_options" "toolbar"))
    anchor=(component "me-anchor" registerExtension=(action _registerExtension "_options" "anchor"))
    anchor-preview=(component "me-anchor-preview" registerExtension=(action _registerExtension "_options" "anchorPreview"))
    placeholder=(component "me-placeholder" registerExtension=(action _registerExtension "_options" "placeholder"))
    paste=(component "me-paste" registerExtension=(action _registerExtension "_options" "paste"))
    keyboard-commands=(component "me-keyboard-commands" registerExtension=(action _registerExtension "_options" "keyboardCommands"))
    image-dragging=(component "me-image-dragging" registerExtension=(action _registerExtension "_options" "imageDragging"))
    auto-link=(component "me-auto-link" registerExtension=(action _registerExtension "_options" "autoLink"))
  )
  _instance}}
